.menu{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.list-items{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 400px;

}


.images{
    
    object-fit: cover;    
}
.bird{
    
    object-fit: cover;    
}
.animal{
    
    object-fit: cover;    
}
.nature{
    
    object-fit: cover;    
}

.section{
    height: 800px;
    width: 800px;
    border: 2px solid red;
}
.menu-items{
    height: 600px;
    width: 600px;
    border: 2px solid rgb(0, 148, 37);
}